<h1>Listado de eventos</h1>
<div class="row">
    <div class="col rext-left">
        <button class="btn btn-danger" (click)="salir()">
            <i class="fa fa-sign-out"></i>
                salir
        </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-primary" (click)="openModal(null)">
            <i class="fa fa-plus-circle"></i>
            Nuevo evento
        </button>
    </div>
</div>

<!--tabla-->
<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" />
    </div>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre del evento</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha fin</th>
            <th scope="col">Herramientas</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let eve of events; let i= index">
            <th scope="row">{{i +1}} {{eve.id}}</th>
            <td class="text-sm-center">{{eve.nombre}}</td>
            <td>{{eve.fecha_inicio.year }} / {{eve.fecha_inicio.month }} /{{eve.fecha_inicio.day }}</td>
            <td>{{eve.fecha_fin.year }} / {{eve.fecha_fin.month }} /{{eve.fecha_fin.day }}</td>
            <td>
                <button class="btn btn-info mr-1">
                    <i class="fa fa-edit" (click)="openModal(eve.id)" ></i>
                </button>
                <button class="btn btn-danger mr-1">
                    <i class="fa fa-times-circle" (click)="deleteEvent(eve, i)"></i>
                </button>


            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor...
    </p>
</div>
<div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openModal(null)">Large modal</button>
<!--ventana modal -->

<ng-template #content let-modal>
    <div class="modal-header  justify-content-between">

        <div class="col " *ngIf="this.readAndEdit">
            <h1 class="">Nuevo evento</h1>
        </div>
        <div class="col " *ngIf="!this.readAndEdit">
            <h1 class="">Editar evento</h1>
        </div>

        <div class="col text-right">
            <div>
                <h6 style="display:inline; ">Creado:</h6>
                <h6 style="display:inline; "> 20 de febrero</h6>
            </div>
            <div>
                <h6 style="display:inline; ">Actualizado:</h6>
                <h6 style="display:inline; "> 20 de febrero</h6>
            </div>
        </div>

    </div>
    <div class="modal-body ">
        <!--aqui es donde se abre el eventComponent, a de mas se le envia el id-->
        <app-event [iddHijo]="this.idEventP"></app-event>
    </div>
    <div class=" modal-footer ">
        <button type="button" class="btn btn-light" (click)="modal.close( 'Close click')">Close</button>
        <button type="button" class="btn btn-light" (Click)="closeModal()">actualizar</button>
    </div>
</ng-template>